[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=monero
Group=monero
WorkingDirectory=~
RuntimeDirectory=monero

Type=forking
PIDFile=/run/monero/superiord.pid

ExecStart=/usr/bin/superiord --config-file /etc/superiord.conf \
    --detach --pidfile /run/monero/superiord.pid

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
