
#[Unit]
#Description=Superior Full Node
#After=network.target

#[Service]
#User=Superior
#Group=Superior
#WorkingDirectory=~

#Type=forking
#ExecStart=/usr/bin/superiord --config-file /etc/superiord.conf --detach

# This is necessary because superiord does not yet support
# writing a PID file, which means systemd tries to guess the PID
# by default, but it guesses wrong (sometimes, depending on
# random timing of events), because the daemon forks twice.
# The ultimate fix is for the daemon to write a PID file, and
# a workaround is to disable the guessing feature in systemd.
#GuessMainPID=no

#[Install]

#WantedBy=multi-user.target



[Unit]
Description=Superior Full Node
After=network.target

[Service]
User=superior
Group=superior
WorkingDirectory=~

Type=forking
PIDFile=/var/run/superiord.pid

ExecStart=/usr/bin/superiord --config-file /etc/superiord.conf \
    --detach --pidfile /var/run/superiord.pid

[Install]
WantedBy=multi-user.target