[Unit]
Description=Superior Full Node
After=network.target

[Service]
User=superior
Group=superior
WorkingDirectory=~

Type=forking
PIDFile=/var/run/superiord.pid

ExecStart=/usr/bin/superiord --config-file /etc/superiord.conf \
    --detach --pidfile /var/run/superiord.pid

[Install]
WantedBy=multi-user.target
